# S&P 500 Data Wrangling
This python notebook will guide through the process of obtaining and wrangling data related to the S&P 500 over the last 20+ years in a way that is completely repeatable on any machine.

### Obtaining the Data
The following code will obtain the correct datasets from kaggle, if you do not have the data, go ahead and remove the #'s and run this code.

In [1]:
#import opendatasets as od
#od.download(
#    "https://www.kaggle.com/datasets/paultimothymooney/stock-market-data")

### Organizing the Data

The following code will begin to pull the data into Panda DataFrames, this first for loop will create a Dataframe with all the possible Dates from our dataset in sequential order.

In [2]:
import pandas as pd
import os
import glob
import warnings
warnings.simplefilter(action='ignore')

allcsvpaths = glob.glob(os.path.join("./stock-market-data/stock_market_data/sp500/csv/", "*.csv"))

placeholderdf = pd.DataFrame()

for file in allcsvpaths:
    cur_df = pd.read_csv(file)
    placeholderdf = pd.concat([placeholderdf, cur_df['Date']]).drop_duplicates()

placeholderdf = placeholderdf.sort_values(by=0).reset_index(drop=True)
placeholderdf = placeholderdf.rename(columns={0 : "Date"})
placeholderdf['Date'] = pd.to_datetime(placeholderdf['Date'], dayfirst=True)
datedf = placeholderdf.set_index('Date')
datedf = datedf.sort_index()
#Date DataFrame
print(datedf)

Empty DataFrame
Columns: []
Index: [1970-01-02 00:00:00, 1970-01-05 00:00:00, 1970-01-06 00:00:00, 1970-01-07 00:00:00, 1970-01-08 00:00:00, 1970-01-09 00:00:00, 1970-01-12 00:00:00, 1970-01-13 00:00:00, 1970-01-14 00:00:00, 1970-01-15 00:00:00, 1970-01-16 00:00:00, 1970-01-19 00:00:00, 1970-01-20 00:00:00, 1970-01-21 00:00:00, 1970-01-22 00:00:00, 1970-01-23 00:00:00, 1970-01-26 00:00:00, 1970-01-27 00:00:00, 1970-01-28 00:00:00, 1970-01-29 00:00:00, 1970-01-30 00:00:00, 1970-02-02 00:00:00, 1970-02-03 00:00:00, 1970-02-04 00:00:00, 1970-02-05 00:00:00, 1970-02-06 00:00:00, 1970-02-09 00:00:00, 1970-02-10 00:00:00, 1970-02-11 00:00:00, 1970-02-12 00:00:00, 1970-02-13 00:00:00, 1970-02-16 00:00:00, 1970-02-17 00:00:00, 1970-02-18 00:00:00, 1970-02-19 00:00:00, 1970-02-20 00:00:00, 1970-02-24 00:00:00, 1970-02-25 00:00:00, 1970-02-26 00:00:00, 1970-02-27 00:00:00, 1970-03-02 00:00:00, 1970-03-03 00:00:00, 1970-03-04 00:00:00, 1970-03-05 00:00:00, 1970-03-06 00:00:00, 1970-03-09 00:00:00, 1970-03-10 00:00:00, 1970-03-11 00:00:00, 1970-03-12 00:00:00, 1970-03-13 00:00:00, 1970-03-16 00:00:00, 1970-03-17 00:00:00, 1970-03-18 00:00:00, 1970-03-19 00:00:00, 1970-03-20 00:00:00, 1970-03-23 00:00:00, 1970-03-24 00:00:00, 1970-03-25 00:00:00, 1970-03-26 00:00:00, 1970-03-30 00:00:00, 1970-03-31 00:00:00, 1970-04-01 00:00:00, 1970-04-02 00:00:00, 1970-04-03 00:00:00, 1970-04-06 00:00:00, 1970-04-07 00:00:00, 1970-04-08 00:00:00, 1970-04-09 00:00:00, 1970-04-10 00:00:00, 1970-04-13 00:00:00, 1970-04-14 00:00:00, 1970-04-15 00:00:00, 1970-04-16 00:00:00, 1970-04-17 00:00:00, 1970-04-20 00:00:00, 1970-04-21 00:00:00, 1970-04-22 00:00:00, 1970-04-23 00:00:00, 1970-04-24 00:00:00, 1970-04-27 00:00:00, 1970-04-28 00:00:00, 1970-04-29 00:00:00, 1970-04-30 00:00:00, 1970-05-01 00:00:00, 1970-05-04 00:00:00, 1970-05-05 00:00:00, 1970-05-06 00:00:00, 1970-05-07 00:00:00, 1970-05-08 00:00:00, 1970-05-11 00:00:00, 1970-05-12 00:00:00, 1970-05-13 00:00:00, 1970-05-14 00:00:00, 1970-05-15 00:00:00, 1970-05-18 00:00:00, 1970-05-19 00:00:00, 1970-05-20 00:00:00, 1970-05-21 00:00:00, 1970-05-22 00:00:00, 1970-05-25 00:00:00, ...]

[13283 rows x 0 columns]

### Data Collection
This next for loop will create a new panda table using the Date Dataframe we just created. This panda table contains the closing price for each stock in the stock market for each corresponding date.

In [3]:
placeholderdf = datedf

for file in allcsvpaths:
    name = file.split("\\")[-1]
    name = name[:-4]
    cur_df = pd.read_csv(file)
    cur_df['Date'] = pd.to_datetime(cur_df['Date'], dayfirst=True)
    cur_df = cur_df.set_index('Date')
    placeholderdf = placeholderdf.join(cur_df['Adjusted Close']).rename(columns={'Adjusted Close' : name})
close_df = placeholderdf
#Adjusted Close Price Dataframe
close_df

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADI,...,WY,WYNN,XEL,XLEFF,XOM,XYL,YUM,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1970-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.171264,NaN,NaN,NaN,NaN,NaN
1970-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.174026,NaN,NaN,NaN,NaN,NaN
1970-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.173681,NaN,NaN,NaN,NaN,NaN
1970-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.172645,NaN,NaN,NaN,NaN,NaN
1970-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.172990,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-23,132.639999,13.820,199.050003,167.229996,139.020004,148.020004,262.230011,106.010002,306.700012,164.410004,...,35.509998,61.490002,75.349998,0.178,98.000000,96.150002,114.150291,109.300003,56.189999,162.419998
2022-08-24,133.669998,13.990,179.910004,167.529999,137.910004,148.229996,268.040009,105.440002,306.260010,163.649994,...,36.009998,62.820000,75.410004,0.178,98.580002,96.129997,114.110489,109.699997,56.279999,162.630005
2022-08-25,136.009995,14.420,180.990005,170.029999,139.330002,150.419998,274.450012,105.889999,309.769989,167.070007,...,36.619999,64.949997,76.080002,0.178,99.089996,97.550003,116.250000,111.940002,57.310001,165.529999
2022-08-26,129.869995,13.740,173.589996,163.619995,136.350006,146.190002,258.119995,101.900002,298.130005,158.669998,...,35.380001,62.330002,74.930000,0.178,97.870003,92.970001,112.160004,107.510002,56.439999,159.889999
2022-08-29,127.379997,13.519,171.800003,160.529999,134.865005,146.089996,257.000000,101.300003,293.910004,154.960007,...,35.240002,62.115002,74.970001,NaN,101.264999,91.820000,111.629997,106.820000,55.400002,158.199997

### Data Collection cont.
Next we will create the same type of DataFrame, but instead with the Stock Open price, Total Volume for a specific date, and percent change of price for that day.

In [4]:
placeholderdf = datedf

for file in allcsvpaths:
    name = file.split("\\")[-1]
    name = name[:-4]
    cur_df = pd.read_csv(file)
    cur_df['Date'] = pd.to_datetime(cur_df['Date'], dayfirst=True)
    cur_df = cur_df.set_index('Date')
    placeholderdf = placeholderdf.join(cur_df['Open']).rename(columns={'Open' : name})
open_df = placeholderdf
#Stock Open Price Dataframe
open_df

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADI,...,WY,WYNN,XEL,XLEFF,XOM,XYL,YUM,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1970-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.929688,NaN,NaN,NaN,NaN,NaN
1970-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.937500,NaN,NaN,NaN,NaN,NaN
1970-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.968750,NaN,NaN,NaN,NaN,NaN
1970-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.964844,NaN,NaN,NaN,NaN,NaN
1970-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.953125,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-23,133.110001,13.78,199.529999,167.080002,139.649994,148.550003,260.339996,106.820000,308.079987,163.479996,...,35.410000,60.230000,76.019997,0.178,95.550003,96.889999,114.779999,111.430000,56.049999,163.429993
2022-08-24,133.020004,13.84,182.789993,167.320007,139.050003,148.380005,262.929993,105.900002,306.679993,163.809998,...,35.560001,61.500000,75.400002,0.178,98.010002,96.169998,114.709999,108.989998,55.930000,163.199997
2022-08-25,135.300003,14.17,179.850006,168.779999,138.770004,148.270004,270.339996,105.239998,307.119995,164.289993,...,36.150002,63.599998,75.699997,0.178,98.919998,96.599998,114.989998,110.470001,56.459999,163.550003
2022-08-26,136.000000,14.41,181.270004,170.570007,138.889999,150.460007,274.720001,105.940002,309.829987,166.839996,...,36.669998,65.269997,76.250000,0.178,98.769997,98.040001,116.529999,112.339996,57.389999,165.710007
2022-08-29,128.429993,13.51,171.690002,161.145004,136.199997,145.009995,255.949997,101.500000,295.000000,156.820007,...,35.150002,61.660000,74.699997,NaN,98.180000,92.500000,111.809998,106.699997,55.970001,158.309998

In [5]:
placeholderdf = datedf

for file in allcsvpaths:
    name = file.split("\\")[-1]
    name = name[:-4]
    cur_df = pd.read_csv(file)
    cur_df['Date'] = pd.to_datetime(cur_df['Date'], dayfirst=True)
    cur_df = cur_df.set_index('Date')
    placeholderdf = placeholderdf.join(cur_df['Volume']).rename(columns={'Volume' : name})
volume_df = placeholderdf
#Volume Dataframe
volume_df

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADI,...,WY,WYNN,XEL,XLEFF,XOM,XYL,YUM,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1970-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1174400,NaN,NaN,NaN,NaN,NaN
1970-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1881600,NaN,NaN,NaN,NaN,NaN
1970-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1232000,NaN,NaN,NaN,NaN,NaN
1970-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,918400,NaN,NaN,NaN,NaN,NaN
1970-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1075200,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-23,1188300.0,25500100.0,1022800.0,54147100.0,3768100.0,552800.0,408200.0,4203000.0,1217900.0,2128300.0,...,1926100.0,1405700.0,1521300.0,0.0,23764700,672700.0,1613700.0,928600.0,663200.0,1320300.0
2022-08-24,1020500.0,17825100.0,3623600.0,53841500.0,5018900.0,455200.0,271800.0,4278200.0,1695500.0,3253100.0,...,3408700.0,1337400.0,1431100.0,0.0,17050300,412300.0,1300100.0,620600.0,549300.0,1206400.0
2022-08-25,969100.0,22167800.0,1007000.0,51218200.0,3301200.0,747100.0,204500.0,5249200.0,1722900.0,2981700.0,...,1920300.0,1486700.0,1553600.0,0.0,15305700,487000.0,1230600.0,530700.0,864600.0,1088800.0
2022-08-26,1252700.0,23133100.0,867200.0,78823500.0,3837800.0,766700.0,290400.0,5440300.0,1701600.0,4238300.0,...,2757400.0,1598400.0,2413300.0,0.0,15516900,628700.0,1542600.0,627700.0,1215200.0,1468000.0
2022-08-29,197726.0,8707332.0,224670.0,23648416.0,1081224.0,144903.0,70446.0,969026.0,390345.0,545549.0,...,455383.0,327264.0,478560.0,NaN,9323869,235252.0,361837.0,78901.0,350344.0,235052.0

In [9]:
#This code creates a dataframe of the percent of that days stock price
percentchange_df = (close_df - open_df)/open_df*100
percentchange_df

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADI,...,WY,WYNN,XEL,XLEFF,XOM,XYL,YUM,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1970-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-91.124799,NaN,NaN,NaN,NaN,NaN
1970-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-91.018016,NaN,NaN,NaN,NaN,NaN
1970-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-91.178129,NaN,NaN,NaN,NaN,NaN
1970-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-91.213309,NaN,NaN,NaN,NaN,NaN
1970-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-91.142915,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-23,-0.353092,0.290275,-0.240563,0.089774,-0.451120,-0.356781,0.725979,-0.758283,-0.447927,0.568882,...,0.282402,2.091984,-0.881345,0.0,2.564099,-0.763751,-0.548621,-1.911511,0.249776,-0.617998
2022-08-24,0.488644,1.083812,-1.575573,0.125503,-0.819849,-0.101098,1.943489,-0.434371,-0.136945,-0.097676,...,1.265458,2.146341,0.013265,0.0,0.581573,-0.041594,-0.522631,0.651435,0.625779,-0.349260
2022-08-25,0.524753,1.764291,0.633861,0.740609,0.403544,1.450053,1.520314,0.617637,0.862853,1.692138,...,1.300131,2.122639,0.501988,0.0,0.171854,0.983442,1.095749,1.330679,1.505495,1.210636
2022-08-26,-4.507357,-4.649550,-4.236778,-4.074580,-1.828781,-2.837966,-6.042518,-3.813480,-3.776259,-4.896906,...,-3.517854,-4.504359,-1.731147,0.0,-0.911202,-5.171358,-3.750103,-4.299443,-1.655342,-3.512164
2022-08-29,-0.817562,0.066616,0.064069,-0.381647,-0.980170,0.744778,0.410238,-0.197041,-0.369490,-1.186074,...,0.256046,0.737921,0.361452,NaN,3.142187,-0.735135,-0.160988,0.112467,-1.018402,-0.069484

# Clean Up
Next we will combine all these DataFrames into one Multi-index Dataframe using the following code

In [15]:
df = pd.concat([open_df, close_df, volume_df, percentchange_df], axis=1, keys=["open", "close", 'volume', 'percentchange'])
df = df.swaplevel(0, 1, axis=1).sort_index(axis=1)
df

                     A                                          AAL         \
                 close        open percentchange     volume   close   open
Date
1970-01-02         NaN         NaN           NaN        NaN     NaN    NaN
1970-01-05         NaN         NaN           NaN        NaN     NaN    NaN
1970-01-06         NaN         NaN           NaN        NaN     NaN    NaN
1970-01-07         NaN         NaN           NaN        NaN     NaN    NaN
1970-01-08         NaN         NaN           NaN        NaN     NaN    NaN
...                ...         ...           ...        ...     ...    ...
2022-08-23  132.639999  133.110001     -0.353092  1188300.0  13.820  13.78
2022-08-24  133.669998  133.020004      0.488644  1020500.0  13.990  13.84
2022-08-25  136.009995  135.300003      0.524753   969100.0  14.420  14.17
2022-08-26  129.869995  136.000000     -4.507357  1252700.0  13.740  14.41
2022-08-29  127.379997  128.429993     -0.817562   197726.0  13.519  13.51

                                             AAP              ...  \
           percentchange      volume       close        open  ...
Date                                                          ...
1970-01-02           NaN         NaN         NaN         NaN  ...
1970-01-05           NaN         NaN         NaN         NaN  ...
1970-01-06           NaN         NaN         NaN         NaN  ...
1970-01-07           NaN         NaN         NaN         NaN  ...
1970-01-08           NaN         NaN         NaN         NaN  ...
...                  ...         ...         ...         ...  ...
2022-08-23      0.290275  25500100.0  199.050003  199.529999  ...
2022-08-24      1.083812  17825100.0  179.910004  182.789993  ...
2022-08-25      1.764291  22167800.0  180.990005  179.850006  ...
2022-08-26     -4.649550  23133100.0  173.589996  181.270004  ...
2022-08-29      0.066616   8707332.0  171.800003  171.690002  ...

                     ZBH                 ZION                           \
           percentchange    volume      close       open percentchange
Date
1970-01-02           NaN       NaN        NaN        NaN           NaN
1970-01-05           NaN       NaN        NaN        NaN           NaN
1970-01-06           NaN       NaN        NaN        NaN           NaN
1970-01-07           NaN       NaN        NaN        NaN           NaN
1970-01-08           NaN       NaN        NaN        NaN           NaN
...                  ...       ...        ...        ...           ...
2022-08-23     -1.911511  928600.0  56.189999  56.049999      0.249776
2022-08-24      0.651435  620600.0  56.279999  55.930000      0.625779
2022-08-25      1.330679  530700.0  57.310001  56.459999      1.505495
2022-08-26     -4.299443  627700.0  56.439999  57.389999     -1.655342
2022-08-29      0.112467   78901.0  55.400002  55.970001     -1.018402

                              ZTS
               volume       close        open percentchange     volume
Date
1970-01-02        NaN         NaN         NaN           NaN        NaN
1970-01-05        NaN         NaN         NaN           NaN        NaN
1970-01-06        NaN         NaN         NaN           NaN        NaN
1970-01-07        NaN         NaN         NaN           NaN        NaN
1970-01-08        NaN         NaN         NaN           NaN        NaN
...               ...         ...         ...           ...        ...
2022-08-23   663200.0  162.419998  163.429993     -0.617998  1320300.0
2022-08-24   549300.0  162.630005  163.199997     -0.349260  1206400.0
2022-08-25   864600.0  165.529999  163.550003      1.210636  1088800.0
2022-08-26  1215200.0  159.889999  165.710007     -3.512164  1468000.0
2022-08-29   350344.0  158.199997  158.309998     -0.069484   235052.0

[13283 rows x 1648 columns]

### Conclusion
As can be seen in these DataFrames, there are a lot of missing values. This is due to the fact some companies did not exist or trade publicly at certain times. We want to keep this data just in case for future analysis. However, if we wanted to obtain dates where only every stock is trading, it would be as simple as changing the join to an inner join in our for loops, as this would only keep data for dates that are shared between all the csv files.